body {
    background-image: url("images/lifestyle-essai1.png");
    background-size: cover;
    opacity: 1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 5px;
    padding: 5px;
}

h1 {
    color: #8a3e3e;
    font-size: 48px;
    text-align: center;
    text-transform: initial;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 900;
    text-shadow: #611d1d 1px 2px 3px;
}
h3 {
    color:#611d1d;
}

th {
    color: #5f2b2b;
    text-decoration:underline ;
    text-shadow: 0.2px 0.2px 1px rgb(102, 53, 35);
}

td {
    color: #5e2323;
}
img {
    border-radius: 2.5%;
}