body {
    background-color: #be8a8a;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    margin: 0;
    padding: 0;
}


h1 {
    color: #944d4d;
    font-size: 48px;
    text-align: center;
    text-transform: initial;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 900;
}